<!DOCTYPE html>
<html>
  <head>

    <title>Concert Journal</title>
    
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">

  </head>
    <body>
       <h1 class="has-text-centered title is-1 notification is-black">Concert Journal</h1>
        <nav class=>
          <div class="block has-text-centered">
            <div class ="title is-1">
            <ul>
              <li>
                <% if (user) { %>
                    <a href="/logout" class="button is-danger is-inverted">Log Out</a>
                <% } else { %>
                    <a href="/auth/google" class="button is-primary">Login with Google</a>
                <% } %>
              </li>
            </ul>
          </div>
          </div>
        </nav>
  </body>
</html>
