<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">

    <title>Please Login</title>
</head>
<body>
    <h3 class="has-text-centered title is-1 notification is-black">Please Login First Before Viewing This Page</h3>
    <nav class="has-text-centered title is-4">
    <a href="/auth/google">Login With Google</a>
    --
    <a href="/">Back to Home Page</a>
    </nav>
</body>
</html>