<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Edit</h1>
        <form action="/concerts/<%= concert_id %>?_method=PUT" method="POST" autocomplete="off">
          
          <label> Done  
            <input type="checkbox" name="done" <%= concert.done ? true : false %>>
          </label>
          <button type="submit">Update Ticket</button>
        </form>
</body>
</html>