<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <title>Document</title>
</head>
<body>
        <h1 class="has-text-centered title is-1 notification is-black">Edit</h1>
        <form action="/concerts/<%= concert_id %>?_method=PUT" method="POST" autocomplete="off">
          <div class="has-text-centered">
          <label>
            <input type="checkbox" name="done" <%= concert.done ? true : false %>>
          </label>RSVP
          <button class="button is-link" type="submit">Update Ticket</button>
        </div>
        </form>
</body>
</html>